img.logo {
    padding: 16px;
    width: 30%;
}
.header {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: auto;
  z-index: 99999;
}
.top {
    background: #eee;
}
a.menu-butt:hover {
    text-decoration: none;font-weight: 600;
    color: #f1f3ff;    background: #000;
}
a.menu-butt {
    display: block;
    width: 33%;
    padding: 16px;
    text-align: center;
    margin-left: auto;
    background: #f38120;
    color: #fff;
    margin-top: 50px;
}

img.sidebar-icon {  width: 15%;}
/* Style the active class, and buttons on mouse-over */
a.w3-bar-item.btn.w3-a.active {
    background: #000;color: #fff;
}
button.w3-bar-item.btn.w3-button {
    background: #cacaca;
    border-bottom: 1px solid #2f2f2f;
}
button.w3-bar-item.btn.w3-button:hover {
    background: #fff !important;
}
/* sidebar panel start */
/* pagination */
.content-center{
	justify-content:center;    display: flex;
}
form.example button {
    z-index: 999;
    margin: 23px;
    float: right;
    display: block;
    right: 9%;
    position: absolute;
}

input.form.control {
    padding: 11px;
    text-align: left;
    width: 80%;
    border-radius: 23px;
    margin: 20px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 4.1%;
    border-radius: 34px;
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #da760b;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .fa-search:before {
    content: "\f002";
}
.list-item-contains{
    margin-bottom: 1.5em;
    border: 0;
    box-shadow: 5px 0px 5px -1px #f6f6f6, 0px 5px 5px 0px #F6F6F4, -5px 0px 5px -1px #f6f6f6, 0px -5px 5px -1px #f6f6f6;
    border-radius: 5px;
}
/* sidebar panel end */


img { max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%; height: 500px;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 175px;
  margin-left: 100px;
  margin-right: 100px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }
  .preview-thumbnail.nav-tabs li a img {
    height: 100px !important;
    width: 100%;
}
.card.rounded {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #ff990b;
    color: #fff; }
   

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }


input#quantity {
    padding: 10px 0;
    width: 50px;
    border: 1px solid #000;
    margin-bottom: 29px;
    margin-top: 9px;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    flex: 1;
}

.quantity button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    z-index: 9;
    top: 0;
    bottom: 0;
    border: none;
    font-size: 12px;
    font-weight: 700;
    width: 30%;
    height: 52px;
    border-radius: 0;
    color: #000;
    background-color: #fff;
}
 .quantity_label {
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
}

.quantity_wrap .quantity_label {
    display: block;
    font-size: 18px;
    color: #3e3e3e;
    margin-top: 10px;
    float: left;
    padding: 10px;
}
a.add-to-cart.btn.btn-default {
    background: #EEE;
}
a.add-to-cart.btn.btn-default:hover{
    background: #ff990b;
}
a.plus {
    background: #eee;
    padding: 8px;
    border-radius: 18px;
    font-size: 19px;
    width: 40px;
    text-align: center;
    display: inline-block;
}
/* booklist */

.w3-sidebar.w3-light-grey.w3-bar-block {
  width: 25%;
  height: 85%;
  margin-top: 170px;
}
section.dropdown-sec {
  width: 75%;
  float: right;
  display: block;
  margin-top: 170px;
}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }


/* booklist end */
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */





@media only screen and (max-width: 768px) {
  /* page2 */
  .w3-sidebar.w3-light-grey.w3-bar-block {
    width: 100%;
    height: auto;
    top: 0;    margin-top: 0;
    position: relative !important;
}
section.dropdown-sec {
  width: 100%;
  margin-top: 0;
}
.header {
  position: inherit;
}
form.example button {
  margin: 22px 17px;
  width: 13%;
}
  .col-sm-6.col-xs-6 {
    width: 50%;
}
  img.logo {
    padding: 43px;
    width: auto;
}
a.menu-butt{
  width: 87%;
}
/* page */
.card {
  margin: 0;
}
.tab-content img{
  height: auto;
}
.preview-thumbnail.nav-tabs li a img {
  height: 100%!important;
}
}